@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #181818;
    scroll-behavior: smooth;
}

@layer utilities {
    :root {
        --color-creme: #FFF5EA;
        --color-golden: rgb(249 210 100);
        --color-purple: rgb(93 60 148);
        --color-lime: rgb(233 238 184);
        --color-brown: rgb(96 28 14);
        /* ... */
      }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .hero_img {
        background-image: url('./src/assets/heroImage.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .download_image_playstore{
        background-image: url('./src//assets/google-play-badge.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; 
        cursor: pointer;
    }

    .download_image_ios{
        background-image: url('./src//assets/download-on-the-app-store.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; 
        cursor: pointer;
    }
}
